<a href="https://colab.research.google.com/github/Maviya5/CE888/blob/master/Assignment%202/Santander_Covariate_shift_detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the needed libraries

In [0]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
import os
import matplotlib.pyplot as plt
get_ipython().magic('matplotlib inline')

In [2]:
import os

os.environ['KAGGLE_USERNAME'] = "namnitha" # username from the json file

os.environ['KAGGLE_KEY'] = "90ceb5b09eaa184f556d4577eb017b49" # key from the json file

!kaggle competitions download -c santander-customer-transaction-prediction # api copied from kaggle

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading test.csv.zip to /content
 95% 119M/125M [00:02<00:00, 43.3MB/s]
100% 125M/125M [00:02<00:00, 51.9MB/s]
Downloading sample_submission.csv.zip to /content
  0% 0.00/462k [00:00<?, ?B/s]
100% 462k/462k [00:00<00:00, 64.2MB/s]
Downloading train.csv.zip to /content
 84% 105M/125M [00:03<00:01, 18.0MB/s]
100% 125M/125M [00:03<00:00, 42.0MB/s]

In [3]:
!ls

sample_data  sample_submission.csv.zip	test.csv.zip  train.csv.zip

In [0]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

Loading the train and test data

In [10]:
from zipfile import ZipFile
file_name = "train.csv.zip"
file_name = "test.csv.zip"
with ZipFile(file_name,'r') as zip:
  zip.extractall()
  print('Done')

Done

In [11]:
train = pd.read_csv('train.csv', low_memory=True)
test = pd.read_csv('test.csv', low_memory=True)
print('train shape:', train.shape)
print('test shape:', test.shape)

train shape: (200000, 202)
test shape: (200000, 201)

In [0]:
train.head()

   ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_0       0   8.9255 -6.7863  ...   7.8784   8.5635  12.7803  -1.0914
1  train_1       0  11.5006 -4.1473  ...   8.1267   8.7889  18.3560   1.9518
2  train_2       0   8.6093 -2.7457  ...  -6.5213   8.2675  14.7222   0.3965
3  train_3       0  11.0604 -2.1518  ...  -2.9275  10.2922  17.9697  -8.9996
4  train_4       0   9.8369 -1.4834  ...   3.9267   9.5031  17.9974  -8.8104

[5 rows x 202 columns]

In [0]:
test.head()

  ID_code    var_0    var_1    var_2  ...  var_196  var_197  var_198  var_199
0  test_0  11.0656   7.7798  12.9536  ...   4.3654  10.7200  15.4722  -8.7197
1  test_1   8.5304   1.2543  11.3047  ...  -1.4852   9.8714  19.1293 -20.9760
2  test_2   5.4827 -10.3581  10.1407  ...  -7.1086   7.0618  19.8956 -23.1794
3  test_3   8.5374  -1.3222  12.0220  ...   3.9567   9.2295  13.0168  -4.2108
4  test_4  11.7058  -0.1327  14.1295  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 201 columns]

In [12]:
#Impute missing values (mean for numeric, mode for categorical)
for i in train.columns:
    if train[i].dtype == 'object':
      train[i] = train[i].fillna(train[i].mode().iloc[0])
    elif (train[i].dtype != 'object'):
      train[i] = train[i].fillna(np.mean(train[i]))


for i in test.columns:
    if test[i].dtype == 'object':
      test[i] = test[i].fillna(test[i].mode().iloc[0])
    elif (test[i].dtype != 'object'):
      test[i] = test[i].fillna(np.mean(test[i]))
    

print('Nulls in train set:', train.isnull().sum().sum())
print('Nulls in test set:', test.isnull().sum().sum())

Nulls in train set: 0
Nulls in test set: 0

In [0]:
## label encode categorical variables
for col in train.columns:
    if train[col].dtype == 'object':
      train[col] = train[col].astype('category')
      train[col] = train[col].cat.codes

for col in test.columns:
    if test[col].dtype == 'object':
      test[col] = test[col].astype('category')
      test[col] = test[col].cat.codes

In [0]:
## Creating a dummy y label and drop the target variable
train['set'] = 0
test['set'] = 1
train = train.drop('target',axis=1)

In [16]:
print('train shape:', train.shape)

train shape: (200000, 202)

In [17]:
## Use a sample set from both train and test and concatenate into a single dataframe
train_df = train.sample(5000, random_state=344)
test_df = test.sample(5000, random_state=433)

all_data = train_df.append(test_df)
y_label = all_data['set']
all_data = all_data.drop('set',axis=1)

#Make sure the new dataframe contains all the initial features
print('New dataframe shape:', all_data.shape)

New dataframe shape: (10000, 201)

In [18]:
## Find all the features with covariate shift. Print during the procedure and then save in array
model = RandomForestClassifier(n_estimators = 50, max_depth = 5, min_samples_leaf = 5)
feat_to_drop = []
for col in all_data.columns:
    score = cross_val_score(model,pd.DataFrame(all_data[col]),y_label,cv=2,scoring='roc_auc')
    if np.mean(score) > 0.8:
        feat_to_drop.append(col)
    print(col,np.mean(score))

ID_code 0.49565496
var_0 0.50172588
var_1 0.50042076
var_2 0.50154796
var_3 0.50928124
var_4 0.4943811600000001
var_5 0.5047108
var_6 0.50263028
var_7 0.5089823600000001
var_8 0.50371356
var_9 0.50678064
var_10 0.50175592
var_11 0.5064645600000001
var_12 0.48387032
var_13 0.5153862
var_14 0.5045506
var_15 0.49888535999999994
var_16 0.52004704
var_17 0.50535188
var_18 0.51645724
var_19 0.49623232000000006
var_20 0.49460780000000004
var_21 0.5012006
var_22 0.503717
var_23 0.49608608
var_24 0.48433607999999995
var_25 0.48966016
var_26 0.5071332799999999
var_27 0.49636115999999997
var_28 0.5019895999999999
var_29 0.4893396
var_30 0.49154111999999994
var_31 0.50244648
var_32 0.50251744
var_33 0.49217084
var_34 0.49848048
var_35 0.49053736000000003
var_36 0.50722172
var_37 0.5090197999999999
var_38 0.5126132
var_39 0.50780304
var_40 0.49955624
var_41 0.5031484399999999
var_42 0.49291036
var_43 0.5071388
var_44 0.50032724
var_45 0.50255604
var_46 0.48151668
var_47 0.50046352
var_48 0.511842
var_49 0.49948988000000005
var_50 0.503735
var_51 0.50794392
var_52 0.50366132
var_53 0.51430652
var_54 0.5093004000000001
var_55 0.48441224
var_56 0.49740372
var_57 0.49622344
var_58 0.50437548
var_59 0.48468124
var_60 0.51866988
var_61 0.5077425600000001
var_62 0.50572352
var_63 0.5031234
var_64 0.5054532
var_65 0.50923308
var_66 0.5012463600000001
var_67 0.50297164
var_68 0.50234304
var_69 0.50801596
var_70 0.50714232
var_71 0.49109148
var_72 0.5042158
var_73 0.49912736
var_74 0.49428000000000005
var_75 0.51487264
var_76 0.49254928
var_77 0.48798211999999996
var_78 0.49906684
var_79 0.51937348
var_80 0.49849184
var_81 0.48757668
var_82 0.49547008
var_83 0.50537008
var_84 0.51034404
var_85 0.50974544
var_86 0.50346768
var_87 0.49605380000000004
var_88 0.4911217600000001
var_89 0.5100608
var_90 0.50680872
var_91 0.50538596
var_92 0.50570868
var_93 0.48998716
var_94 0.4999618
var_95 0.51284268
var_96 0.50776544
var_97 0.5086102400000001
var_98 0.5033756
var_99 0.51002232
var_100 0.49382476000000003
var_101 0.499842
var_102 0.49553336
var_103 0.49681719999999996
var_104 0.49860064000000004
var_105 0.50481136
var_106 0.49796003999999994
var_107 0.50381912
var_108 0.4967924
var_109 0.50918916
var_110 0.50732108
var_111 0.5015316400000001
var_112 0.51250844
var_113 0.50568788
var_114 0.5076488000000001
var_115 0.50351128
var_116 0.4985168
var_117 0.51499712
var_118 0.5127071999999999
var_119 0.48928116000000005
var_120 0.5011112
var_121 0.5129448400000001
var_122 0.49921647999999996
var_123 0.50663628
var_124 0.50740716
var_125 0.50432632
var_126 0.5144523599999999
var_127 0.49918096
var_128 0.48290671999999996
var_129 0.48910407999999994
var_130 0.50729788
var_131 0.48956427999999996
var_132 0.49878012000000005
var_133 0.5090113199999999
var_134 0.4963288
var_135 0.5112326
var_136 0.49145128
var_137 0.50915988
var_138 0.50555816
var_139 0.49743588
var_140 0.49502144000000003
var_141 0.49058752
var_142 0.5058794799999999
var_143 0.5023937199999999
var_144 0.48460667999999996
var_145 0.5113442800000001
var_146 0.49462828000000003
var_147 0.5001646
var_148 0.50758908
var_149 0.50597596
var_150 0.48452324
var_151 0.49398719999999996
var_152 0.51012904
var_153 0.50871668
var_154 0.49914435999999995
var_155 0.51075632
var_156 0.49022892
var_157 0.49885868
var_158 0.49788876
var_159 0.49705224
var_160 0.4811374
var_161 0.50790248
var_162 0.50539544
var_163 0.50377452
var_164 0.5043397999999999
var_165 0.50898424
var_166 0.5034015199999999
var_167 0.49525248
var_168 0.49862739999999994
var_169 0.4933408
var_170 0.5128451599999999
var_171 0.48979804000000005
var_172 0.5104065200000001
var_173 0.50624216
var_174 0.50737216
var_175 0.50949772
var_176 0.49936216
var_177 0.5007195600000001
var_178 0.49626032
var_179 0.5064662799999999
var_180 0.49965544
var_181 0.51472812
var_182 0.50604596
var_183 0.50750516
var_184 0.50582456
var_185 0.50321748
var_186 0.50606572
var_187 0.503268
var_188 0.50333624
var_189 0.50408264
var_190 0.48889708
var_191 0.51648684
var_192 0.50896184
var_193 0.49498748000000004
var_194 0.50558648
var_195 0.5128518
var_196 0.50090604
var_197 0.50986804
var_198 0.50785792
var_199 0.5082001199999999

In [19]:
#Print number of features with covariate shift
print('Number of features that display a covariate shift:', len(feat_to_drop))

Number of features that display a covariate shift: 0

For the covariate shift detection; the auc-roc score of the feature should be greater that 0.80. if its is less than 0.80 then there is no covariate sift in features
  As a result for thsi data set there is no covariate shift in any features